.el nav {
border-top: 25px solid black;
padding: 10px;
text-align: left;
}
.el nav ul li{
display: inline-block;
padding-right: 45px;
font-size: 24px;
}
.list {
display: flex;
justify-content: flex-end;/
gap: 10px;
}
.border {
width: 100%;
height: 25px;
background-color: #000000;
position: relative;
margin-top: 0px;
}
.heading{
color: #2874a6;
7
-2024506075
font-size:3.5em;
font-style:Oblique;
text-align: center;
}
.location{
color: #2874a6;
font-size:1.5em;
font-style:Bold;
text-align:center;
padding-top:70px;
}
a{
color:black;
text-decoration:none;
}
.image-container {
margin-top: 30px;
display: flex;
gap:320px;
}
.image-container img {
width: 20%;
height:350px;
}
footer{
color:#FFC0CB;
background-color:#000000;
text-align:center;
8
-2024506075
flex:1;
position:relative;
width:100%;
padding:10px;
margin-top:100px;
}
.item2{
margin-top:-6px;
}